form
 {
  margin-left: 15%;
  margin-top: 10%;
  margin-right: 30%;
  width:70%;
  background-color: lightblue;
 }
 p
 {
    font-size:20px;
	font-family:Ariel;
	color:red;
	margin-top: 3%;
	text-align:center;
   }
   input.submit
   {
    border:2px double blue;
	width:200px;
	text-align:center;
	font-size:15px;
   }